* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  font-size: 4rem;

}

div.sidebar {
  background-color: blue;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  justify-content: space-around;
}

div.main {
  padding: 20px;
  flex-grow:1;
  text-align: center;

background-color: aqua;



 

}

@media (max-width: 640px) {
  body {
      flex-direction: column-reverse;
  }
  div.sidebar {
      flex-direction: row;
      justify-content: space-evenly;
  }
}