body{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.btn-tooltip{
  position: relative;
  padding: 5px 25px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
  border-bottom: 2px solid rgb(0, 81, 0);
  cursor: pointer;
  transition: background-color 150ms;
}


.tooltip{
  /* visibility: hidden; */
position: absolute;
opacity: 0;
top: -50px;
left: -100%;
transform: translateX(25%);
background-color: rgba(110, 36, 36, 0.2);
color: rgb(15, 14, 14);
padding: 5px 10px;
border-radius: 5px;
transition: opacity 1150ms;

}

.btn-tooltip:hover{
  background-color: rgb(0, 100, 0);
}

.btn-tooltip:hover .tooltip{
  /* visibility: visible; */
  opacity: 1;
}

.tooltip::before{
  content: '';
  border: solid 10px transparent;
  border-top-color: #333;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
}
/* .tutorial{
  border: solid 10px #333;
  border-top-color: #333;
} */