.container{
  display: grid;
  grid-template-columns: auto auto auto;
 gap: 0.5rem;  
  /* column-gap: 0.5rem;
  row-gap: 0.5rem; */
  /* grid-template-columns: repeat(4, auto); */
  /* grid-template: 20px 3rem 25vw; */
  /* grid-template-columns: 1fr 1fr 2fr; */
  /* grid-template-rows: 200px 200px 100px; */
   grid-template-areas: 'head head ''main main aside''footer footer footer'; 
}
.item{
  background-color: aqua;
  padding: 0.25rem;
  font-size: 2rem;
  border: 1px solid blue;

}
.item1{
  /* grid-area: head; */
grid-column: 1 / span 1;

}
.item9{
  /* grid-area: footer; */
  grid-area: 2 /1 / 4 / 3;
  /* grid-area: filainicio/colinicio /filfin/colfin; */
}