:root {
  --color-principal: rgba(0, 149, 255, 0.819);
  --ancho-principal: 250px ;
}

.titulo{
  color:var(--color-principal) ;
}

.footer{
  color:rgba(217, 0, 255, 0.704) ;
}

.contenedor{
  background-color: antiquewhite;
  padding: 1rem;
  max-width: var(--ancho-principal);
}